.ProfilePage {
        padding: 20px;
      }
      
      .Form-container {
        max-width: 400px;
        margin: 0 auto;
      }
      
      .profile-photo {
        max-width: 100%;
        height: auto;
      }
      