
    .footer-navbar {
        background-color: #343a40; /* Цвет фона Footer */
        color: white; /* Цвет текста */
            position:  fixed;
            bottom: 0;
            width: 100%;
        }
        
    

.body {
    position: relative; /* Устанавливаем позиционирование для body */
    margin: 0; /* Сбрасываем отступы */
    padding-bottom: 60px; /* Добавляем отступ снизу, равный высоте футера */
}
