.footer-navbar {
    background-color: #343a40; /* Цвет фона Footer */
    color: white; /* Цвет текста */
    padding: 20px 0; /* Внутренний отступ сверху и снизу */
    width: 100%; /* Ширина 100% */
    position: absolute; /* Позиционирование абсолютное */
    bottom: 0; /* Прижимаем к нижней части родительского контейнера */
}

body {
    position: relative; /* Устанавливаем позиционирование для body */
    margin: 0; /* Сбрасываем отступы */
    padding-bottom: 60px; /* Добавляем отступ снизу, равный высоте футера */
}
